<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Заголовок 1</h5>
          <p class="card-text">Контент первого блока</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Заголовок 2</h5>
          <p class="card-text">Контент второго блока</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Заголовок 3</h5>
          <p class="card-text">Контент третьего блока</p>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>
